@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    <a style="color:white;float:right;font-size:20px;margin-top:10px" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@await Component.InvokeAsync("UserName")</a>
    @*<a style="color:white;float:right;font-size:20px;margin-top:10px" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)!</a>*@
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button style="float:right;font-size:20px;font-size:15px;margin-top:10px" stype="button" class="btn btn-outline-dark">Logout</button>
    </form>

}
else
{
    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>*@

    <a style="color:white;float:right;font-size:20px;margin-top:10px" asp-area="Identity" asp-page="/Account/Login">Login</a>

}


