@page
@model LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V12</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/logincss/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logincss/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logincss/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logincss/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logincss/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logincss/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logincss/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logincss/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/logincss/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../images/img-01.jpg');">
            <div class="wrap-login100 p-t-50 p-b-0">
              
                    
                <form id="account" method="post">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@


                    <div class="login100-form-avatar">
                        <img src="~/images/LibrarianImg/17499499_1828203774172642_3490844420026077366_n.jpg" alt="AVATAR">
                    </div>
                    <span class="login100-form-title p-t-20 p-b-45">
                        Trung Phan
                    </span>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Email is required">
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="input100" />
                          
                            <span asp-validation-for="Input.Email" style="color:maroon">
                            </span>


                        </div>
                        
                    </div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Email is required">
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input class="input100" asp-for="Input.Password" />
                            <span asp-validation-for="Input.Password" style="color:maroon"></span>


                        </div>
                      

                    </div>


                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="container-login100-form-btn p-t-10">
                        <input type="submit" value="Login" class="login100-form-btn">
                    </div>




                    <div class="text-center w-full p-t-25 p-b-80">
                        <a class="txt1" id="forgot-password" asp-page="./ForgotPassword">
                            Forgot your password?
                        </a>
                        <a class="txt1" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        <br />
                        <button type="submit" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px;color:white">Resend email confirmation</button>
                    </div>
                    
                </form>
                 
</div>
        </div>

    </div>


   
        <!--===============================================================================================-->
        <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/bootstrap/js/popper.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/js/main.js"></script>
        <script>
    function Validate() {
    $.ajax(
    {
    type: "POST",
    url: '@Url.Action("Validate", "Account")',
    data: {
    email: $('#email').val(),
    password: $('#password').val()
    },
    error: function (result) {
    alert("There is a Problem, Try Again!");
    },
    success: function (result) {
    console.log(result);
    if (result.status == true) {
    window.location.href = '@Url.Action("Index", "Home")';
    }
    else {
    alert(result.message);
    }
    }
    });
    }
        </script>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }




</body>
</html>
