@model LibraryManagement.Models.ViewModel.ProcessDetailsViewModel
@using LibraryManagement.Extensions
@using LibraryManagement.Utility

@{
    ViewData["Title"] = "Edit";
}

<br />
<h2>  Edit Process</h2>

<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Process.ProcessID" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Process.ReaderName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Process.ReaderName" class="form-control" />
                </div>
                <span asp-validation-for="Process.ReaderName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Process.ReaderEmail"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Process.ReaderEmail" class="form-control" />
                </div>
                <span asp-validation-for="Process.ReaderEmail" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Process.BorrowedDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Process.BorrowedDate" id="datepicker" type="text" class="form-control" />
                </div>
                <span asp-validation-for="Process.BorrowedDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Process.BorrowedTime"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Process.BorrowedTime" id="timepicker" type="text" class="timepicker form-control" />
                </div>
                <span asp-validation-for="Process.BorrowedTime" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Process.ReaderPhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Process.ReaderPhoneNumber" class="form-control" />
                </div>
                <span asp-validation-for="Process.ReaderPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Process.Librarian"></label>
                </div>
                <div class="col-8">
                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <input asp-for="@Model.Process.Librarian.Name" readonly class="form-control" />
                        <input asp-for="@Model.Process.LibrarianID" hidden />

                    }
                    else
                    {
                        <select asp-for="@Model.Process.LibrarianID" asp-items="Model.Librarian.ToSelectListItemString(Model.Process.LibrarianID)" class="form-control"></select>

                    }
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Process.Complete"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Process.Complete" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-6">
          
            <partial name="~/Views/Shared/_BorrowedBookDetails.cshtml" model="Model.Books" />
        </div>



        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>$('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '10',
            maxTime: '3:00pm',
            startTime: '10:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });

        $(function () {
            $("#datepicker").datepicker({
                minDate: +1, maxDate: "+3M"
            });
        });

        $(document).ready(function () {
            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";
            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");

            }
            else {
                splitData = appointmentTime.split("T");

            }

            var time = splitData[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);

            }
            var amPmTime = splitData[2];
            $('#datepicker').attr('value', splitData[0]);
            $('#timepicker').attr('value', time + ' ' + amPmTime);

        });</script>
}