@model LibraryManagement.Models.ViewModel.BookViewModel
@using LibraryManagement.Extensions
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Edit Book</h2>
<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input hidden asp-for="Books.BookID" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Books.BookName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Books.BookName" class="form-control" />

                </div>
                <span asp-validation-for="Books.BookName" class="text-danger"></span>

            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Authors"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Books.AuthorID" asp-items="Model.Authors.ToSelectListAuthor(Model.Books.AuthorID)" class="form-control"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Categories"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Books.CategoryID" asp-items="Model.Categories.ToSelectListCategory(Model.Books.CategoryID)" class="form-control"></select>

                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Books.PublicationDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Books.PublicationDate" id="datepicker" class="form-control" />

                </div>
                <span asp-validation-for="Books.PublicationDate" class="text-danger"></span>

            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Books.Note"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Books.Note" readonly class="form-control" />
                </div>
                <span asp-validation-for="Books.Note" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Books.BookImage"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.Books.BookImage" width="50%" style="border-radius: 5px; border: 1px solid #808080;" />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    <script>
//$('.timepicker').timepicker({
//            timeFormat: 'h:mm p',
//            interval: 30,
//            minTime: '10',
//            maxTime: '3:00pm',
//            startTime: '10:00',
//            dynamic: true,
//            dropdown: true,
//            scrollbar: true
//        });

        $(function () {
            $("#datepicker").datepicker({
                //minDate: +1, maxDate: "+3M"
            });
        });</script>
}
